body {
    margin: 0;
    padding: 0;
    overflow: hidden;

    background-color: #333;
    text-decoration: none;
    color: white;
}

.click-wrapper > #clicker {
    width: 60%;
    margin: auto;
    display: block;
}

.shop-wrapper > #los-pollos-hermanos {
    width: 250px;
    height: 300px;
}

#alert {
    opacity: 0;
    text-align: center;
    color:red
}

